/****************************************
HTML style for TreeMaker docs viewed as independent HTML 
****************************************/
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: medium;
  margin: 0.7 em;
  padding: 0;
}

h1 {
  font-size: x-large;
  color: #333300;
  margin: 1.0em 0 0;
}

h2 {
  font-size: large;
  color: #333300;
  margin: 0.9em 0 0 1.0 em;
}

h3 {
  font-size: medium;
  color: #333300;
  margin: 0.8em 0 0 2.0em
}

h4 {
  font-size: small;
  color: #333300;
  margin: 0.7em 0 0 3.0em
}

p, ul, li {
  font-size: small;
  margin: 0.7em 0;
}

img {
  font-size: small;
  margin: 1.0em 0;
}

a:link {
  color: #333300; /* original color used for L and V */
}
a:visited {
  color: #333300;
}
a:hover {
  color: #444400;
}
a:active {
  color: #555500;
}
